# Виртуалната среда - тя е огромна и специфична за твоя компютър
.venv/

# Файлът с твоя ТАЕН API КЛЮЧ
.env

# Файлът с базата данни (всеки потребител трябва да си генерира сам)
products.db

# Кеш файлове на Python
__pycache__/
*.pyc